{{ if eq .chezmoi.os "windows" -}}
# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
  if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
    $CommandLine = "-NoExit -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
    Start-Process -Wait -FilePath pwsh.exe -Verb Runas -ArgumentList $CommandLine
    Exit
  }
}

winget install --id=Python.Python.3.12 -e;
winget install --id=EclipseAdoptium.Temurin.21.JDK -e;
winget install --id=Kitware.CMake -e;
winget install --id=LLVM.clangd -e;
winget install --id=Microsoft.VisualStudio.2022.BuildTools -e;
winget install --id=FSFhu.Hunspell -e;
py -3.12 -m pip install --user cmake-language-server basedpyright

# Create junction for Emacs config
if (!(Test-Path "$env:APPDATA\.emacs.d")) {
    cmd /c mklink /J "$env:APPDATA\.emacs.d" "$env:USERPROFILE\.emacs.d"
}

# Install vcpkg
if (!(Test-Path "C:\vcpkg")) {
    git clone https://github.com/microsoft/vcpkg C:\vcpkg
    C:\vcpkg\bootstrap-vcpkg.bat
    C:\vcpkg\vcpkg integrate install
}

# Install Verible Verilog Language Server
if (!(Test-Path "C:\verible")) {
    $url = (Invoke-WebRequest -Uri "https://api.github.com/repos/chipsalliance/verible/releases/latest" -UseBasicParsing | ConvertFrom-Json).assets | Where-Object { $_.name -like "*win64*" } | Select-Object -ExpandProperty browser_download_url
    Invoke-WebRequest -Uri $url -UseBasicParsing -OutFile "$env:TEMP\verible.zip"
    Expand-Archive -Path "$env:TEMP\verible.zip" -DestinationPath "$env:TEMP\verible_extract\"
    $extractedDir = Get-ChildItem -Path "$env:TEMP\verible_extract" | Select-Object -First 1
    Move-Item -Path $extractedDir.FullName -Destination "C:\verible"
    $oldPath = [System.Environment]::GetEnvironmentVariable('Path', 'Machine')
    [System.Environment]::SetEnvironmentVariable('Path', "$oldPath;C:\verible\bin", 'Machine')
}

# Install VHDL_LS
if (!(Test-Path "C:\vhdl_ls")) {
    $url = (Invoke-WebRequest -Uri "https://api.github.com/repos/VHDL-LS/rust_hdl/releases/latest" -UseBasicParsing | ConvertFrom-Json).assets | Where-Object { $_.name -like "vhdl_ls-x86_64-pc-windows-msvc*" } | Select-Object -ExpandProperty browser_download_url
    Invoke-WebRequest -Uri $url -UseBasicParsing -OutFile "$env:TEMP\vhdl_ls.zip"
    Expand-Archive -Path "$env:TEMP\vhdl_ls.zip" -DestinationPath "$env:TEMP\vhdl_ls_extract\"
    $extractedDir = Get-ChildItem -Path "$env:TEMP\vhdl_ls_extract" | Select-Object -First 1
    Move-Item -Path $extractedDir.FullName -Destination "C:\vhdl_ls"
    $oldPath = [System.Environment]::GetEnvironmentVariable('Path', 'Machine')
    [System.Environment]::SetEnvironmentVariable('Path', "$oldPath;C:\vhdl_ls\bin", 'Machine')
}

# Install jdtls (Java Language Server)
if (!(Test-Path "C:\jdtls")) {
    Invoke-WebRequest -Uri "https://download.eclipse.org/jdtls/snapshots/jdt-language-server-latest.tar.gz" -UseBasicParsing -OutFile "$env:TEMP\jdtls.tar.gz"
    New-Item -ItemType Directory -Force -Path "C:\jdtls"
    tar -xzf "$env:TEMP\jdtls.tar.gz" -C "C:\jdtls"
    $oldPath = [System.Environment]::GetEnvironmentVariable('Path', 'Machine')
    [System.Environment]::SetEnvironmentVariable('Path', "$oldPath;C:\jdtls\bin", 'Machine')
}

# Install Iosevka font
if (!(Test-Path "C:\Windows\Fonts\Iosevka-Regular.ttf")) {
    $url = (Invoke-WebRequest -Uri "https://api.github.com/repos/be5invis/Iosevka/releases/latest" -UseBasicParsing | ConvertFrom-Json).assets | Where-Object { $_.name -match "^PkgTTF-Iosevka-\d" } | Select-Object -ExpandProperty browser_download_url
    Invoke-WebRequest -Uri $url -UseBasicParsing -OutFile "$env:TEMP\iosevka.zip"
    Expand-Archive -Path "$env:TEMP\iosevka.zip" -DestinationPath "$env:TEMP\iosevka"
    $FontItem = Get-Item -Path "$env:TEMP\iosevka"
    $FontList = Get-ChildItem -Path "$FontItem\*" -Include ('*.fon','*.otf','*.ttc','*.ttf')
    foreach ($Font in $FontList) {
        Write-Host 'Installing font -' $Font.BaseName
        Copy-Item $Font "C:\Windows\Fonts"
        New-ItemProperty -Name $Font.BaseName -Path "HKLM:\Software\Microsoft\Windows NT\CurrentVersion\Fonts" -PropertyType string -Value $Font.name
    }
}

# Install hunspell en_GB dictionary
if (!(Test-Path "C:\Hunspell\en_GB.dic")) {
    New-Item -ItemType Directory -Force -Path "C:\Hunspell"
    Invoke-WebRequest -Uri "https://raw.githubusercontent.com/LibreOffice/dictionaries/master/en/en_GB.dic" -UseBasicParsing -OutFile "C:\Hunspell\en_GB.dic"
    Invoke-WebRequest -Uri "https://raw.githubusercontent.com/LibreOffice/dictionaries/master/en/en_GB.aff" -UseBasicParsing -OutFile "C:\Hunspell\en_GB.aff"
}
{{ end -}}